
<div class="alert alert-info text-center" role="alert" *ngIf="loading">
    <strong>Cargando</strong>
    <p>
        <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
</div>

<div class="alert alert-danger text-center" role="alert" *ngIf="error">
    <strong>Error</strong>

    <pre>{{ error | json }}</pre>

</div>

<div class="row"  *ngIf="!loading">

    <div class="col-4" *ngIf="!error">
        <img [src]="usuario.avatar" alt="avatar" class="img-thumbnail img-fluid">
    </div>
        <div class="col" *ngIf="!error" >
            <ul class="list-group">
                <li class="list-group-item">
                        <b>Nombre:</b> {{ usuario.first_name}}
                </li>
                <li class="list-group-item">
                        <b>Apellido:</b> {{ usuario.last_name}}
                </li>
                <li class="list-group-item">
                    <b>Email:</b> {{ usuario.email}}
                </li>
            </ul>
        </div>

    
</div>